{% extends 'core/base.html' %} {% block title %}{{ item.name }}{% endblock %} 
{% block content %}

<div class="w-full mx-auto">
  <h1 class="mb-10 text-3xl mx-auto">{{ item.name }}</h1>

</div>

<div class="grid grid-cols-3 gap-4">
  <div>
    <img src="{{ item.image.url }}" class="rounded-xl" />
  </div>
  
  <div class="p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
    <p class="text-gray-500"><strong>Price: </strong>{{ item.price }}</p>
    <p class="text-gray-500">
      <strong>Seller: </strong>{{ item.created_by.username}}
    </p>

    {% if item.description %}
    <p class="text-gray-700">
      <strong class="text-gray-500">Description: </strong><br />
      {{ item.description }}
    </p>
    {% endif %}

    {% if request.user == item.created_by %}
    <div class="mt-6 p-6 bg-white rounded-xl">
      <p>This is your item!</p>
      <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
      <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
    </div>
    {% else %}
    <a
      href="{% url 'conversation:new' item.id %}"
      class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700"
      >Contact Seller</a
    >
    {% endif %}
  </div>

  <div class="p-6 bg-gray-200 rounded-xl">
    <h1 class="text-lg font-semibold">Color : Olive</h1>
    <h1 class="text-lg font-semibold">Size : Unisex L</h1>
    <h1 class="text-2xl font-semibold">$ 59</h1>
    <p>Quantity</p>
    <div class="relative inline-block text-left">
      <div>
        <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
          Options
          <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
      
      <div class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <div class="py-1" role="none">
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Account settings</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Support</a>
          <a href="#" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">License</a>
          <form method="POST" action="#" role="none">
            <button type="submit" class="text-gray-700 block w-full px-4 py-2 text-left text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Sign out</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    <h1>ADD TO CART<h1>
  </div>

</div>

<div class="mt-6 px-6 py-12 bg-gray100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Related Items</h2>

  <div class="grid grid-cols-3 gap-3">
    {% for item in related_items %}
    <div>
      <a href="{% url 'item:detail' item.id %}">
        <div>
          <img src="{{ item.image.url }}" class="rounded-t-xl" />
        </div>

        <div class="p-6 bg-white rounded-b-xl">
          <h2 class="text-2xl">{{ item.name }}</h2>
          <p class="text-gray-500">Price : {{ item.price }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
